.contact {
    padding-top: 130px;
}

.contact::before {
    content: "";

    position: absolute;
    top: 32px;

    width: 2px;
    height: 30px;

    color: #d4aab7;
}

.contact__title {
    text-align: center;

    letter-spacing: 2px;
    font-size: 18px;
    line-height: 22px;
}

.contact__blog {
    width: 290px;
    margin: 0 auto;

    text-align: center;

    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    color: #000000;
}

.contact__text span {
    display: inline;
    margin-right: 40px;

    position: relative;
}

.contact__text span::after {
    content: "";

    position: absolute;
    left: 55px;
    top: 10px;

    height: 18px;
    width: 2px;
    color: #97ba80;
}