.page-header {
    color: #ffffff;

    background: url("../img/dasha.jpg") no-repeat 0% 0%;
    background-size: cover;
}

.page-header__wrapper {
    width: 295px;
    padding-top: 150px;
    padding-left: 17px;
    padding-bottom: 103px;
}

.page-header__title {
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 30px;
    line-height: 40px;
}

.page-header__text {
    // width: 245px;
    margin-top: 0;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}

.page-header__link {
    display: block;
    width: 150px;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    border-bottom: 2px solid #ffffff;
}

@media (min-width: 420px) {
    .page-header {
        background: url("../img/bg.jpg") no-repeat 100% 0%;
    }

    .page-header__title {
        margin-bottom: 26px;
    
        font-size: 36px;
        line-height: 40px;
        font-weight: 400;
        color: #000000;
    }

    .page-header__text {
        margin-bottom: 36px;

        color: #000000;
    }

    .page-header__link {
        color: #000000;
    }

    .page-header__wrapper {
        position: relative;

        width: 300px;
        padding-top: 266px;
        padding-left: 60px;
        padding-bottom: 214px;
    }

    .page-header__wrapper::after {
        position: absolute;
        content: "";
        top: 102px;
        left: 390px;

        width: 322px;
        height: 500px;
        
        background: url("../img/dashap.jpg") no-repeat 50% 50%;
    }
}